src/conf/xml-resources/web-service-references/TaskService/wsdl/localhost_8080/TaskManagerService/TaskService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="TaskService">
<types>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/TaskManagerService/TaskService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserTasks">
<part name="parameters" element="tns:getUserTasks"/>
</message>
<message name="getUserTasksResponse">
<part name="parameters" element="tns:getUserTasksResponse"/>
</message>
<message name="deleteUserTask">
<part name="parameters" element="tns:deleteUserTask"/>
</message>
<message name="deleteUserTaskResponse">
<part name="parameters" element="tns:deleteUserTaskResponse"/>
</message>
<message name="updateUserTask">
<part name="parameters" element="tns:updateUserTask"/>
</message>
<message name="updateUserTaskResponse">
<part name="parameters" element="tns:updateUserTaskResponse"/>
</message>
<message name="createTask">
<part name="parameters" element="tns:createTask"/>
</message>
<message name="createTaskResponse">
<part name="parameters" element="tns:createTaskResponse"/>
</message>
<portType name="TaskService">
<operation name="getUserTasks">
<input wsam:Action="http://com/TaskService/getUserTasksRequest" message="tns:getUserTasks"/>
<output wsam:Action="http://com/TaskService/getUserTasksResponse" message="tns:getUserTasksResponse"/>
</operation>
<operation name="deleteUserTask">
<input wsam:Action="http://com/TaskService/deleteUserTaskRequest" message="tns:deleteUserTask"/>
<output wsam:Action="http://com/TaskService/deleteUserTaskResponse" message="tns:deleteUserTaskResponse"/>
</operation>
<operation name="updateUserTask">
<input wsam:Action="http://com/TaskService/updateUserTaskRequest" message="tns:updateUserTask"/>
<output wsam:Action="http://com/TaskService/updateUserTaskResponse" message="tns:updateUserTaskResponse"/>
</operation>
<operation name="createTask">
<input wsam:Action="http://com/TaskService/createTaskRequest" message="tns:createTask"/>
<output wsam:Action="http://com/TaskService/createTaskResponse" message="tns:createTaskResponse"/>
</operation>
</portType>
<binding name="TaskServicePortBinding" type="tns:TaskService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserTasks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUserTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUserTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TaskService">
<port name="TaskServicePort" binding="tns:TaskServicePortBinding">
<soap:address location="http://localhost:8080/TaskManagerService/TaskService"/>
</port>
</service>
</definitions>