web/WEB-INF/wsdl/localhost_8080/TaskManagerService/TaskService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com/">

<xs:element name="createTask" type="tns:createTask"/>

<xs:element name="createTaskResponse" type="tns:createTaskResponse"/>

<xs:element name="deleteUserTask" type="tns:deleteUserTask"/>

<xs:element name="deleteUserTaskResponse" type="tns:deleteUserTaskResponse"/>

<xs:element name="getUserTasks" type="tns:getUserTasks"/>

<xs:element name="getUserTasksResponse" type="tns:getUserTasksResponse"/>

<xs:element name="updateUserTask" type="tns:updateUserTask"/>

<xs:element name="updateUserTaskResponse" type="tns:updateUserTaskResponse"/>

<xs:complexType name="updateUserTask">
<xs:sequence>
<xs:element name="idtask" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="due_date" type="xs:string" minOccurs="0"/>
<xs:element name="hour" type="xs:string" minOccurs="0"/>
<xs:element name="idusers" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserTask">
<xs:sequence>
<xs:element name="idtask" type="xs:int"/>
<xs:element name="idusers" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserTasks">
<xs:sequence>
<xs:element name="idusers" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserTasksResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTask">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="due_date" type="xs:string" minOccurs="0"/>
<xs:element name="hour" type="xs:string" minOccurs="0"/>
<xs:element name="idusers" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>